<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Don't Let Them In</title>
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    >
    <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="http://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    >
    <!-- Milligram CSS minified -->
    <link
      rel="stylesheet"
      href="http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"
    >
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="column header center">
          <h1>¡{{ greeting }} Carson!</h1>
        </div>
      </div>
      {% if quote %}
      <div class="row">
        <div class="column center header">
          <p>{{ quote.quote }} - {{ quote.name }}</p>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="column center">
          <ul class="bulletless">
            {% for link in fixed_links %}
            <li><a class="button wobble" href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="column">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23ffccff&amp;src=carson%40superpedestrian.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="275" height="325" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="column">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23ffccff&amp;src=x%40worldminus.us&amp;color=%236B3304&amp;ctz=America%2FNew_York" style="border-width:0" width="270" height="325" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column center">
        <img src="https://lh3.googleusercontent.com/7Sq_mlk-LAT4Ot5h1CypBurBUjUhOXHcjvsnzYsA5mNek3Akqlm3fP_FmcedAGKCLF6DW_w2DKGKh4xqxBisQ7Ac8gz8gqVHEMCn9mvqSN6R7X2D-BpEnEROR_1bgAnwYvP2PQ">
      </div>
      <div class="column center">
        <img src="https://lh3.googleusercontent.com/WxkfvUzcLM_K8elAcvarGSfzo36X38VsS0WOSTMM2MK-jT-xGWpK4kLAToC_7PVEUJLQOG3dlsSkm4wBlCO4waEfFqU8S7_CL9eFUJ76m42lPtZrqNvL0WN5D90tzpPgxtAKkQ">
      </div>
    </div>
    <div class="weather">
      <span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;">
        <a
          href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:02138.1.99999&bannertypeclick=wu_simplewhite"
          title="Cambridge, Massachusetts Weather Forecast"
          target="_blank"
          >
          <img
            src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_simplewhite&airportcode=KBOS&ForcedCity=Cambridge&ForcedState=MA&zip=02138&language=EN"
            alt="Find more about Weather in Cambridge, MA"
            width="260" />
        </a>
      </span>
    </div>
  </body>
</html>
