<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Don't Let Them In</title>
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    >
    <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    >
    <!-- Milligram CSS minified -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"
    >
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="column header center">
          <h1>¡{{ greeting }} Carson!</h1>
        </div>
      </div>
      {% if quote %}
      <div class="row">
        <div class="column center header">
          <p>{{ quote.quote }} - {{ quote.name }}</p>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="column center">
          <ul class="bulletless blocks">
            {% for link in fixed_links %}
            <li>
              <a class="top-button button wobble" href="{{ link.url }}">{{ link.name }}</a>
              {% if link.subs %}
              <a class="plus" href="#">+</a>
              <ul class="sub-menu bulletless">
                {% for sublink in link.subs %}
                <li>
                  <a class="sub-button button wobble" href="{{ sublink.url }}">{{ sublink.name }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="column">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23ffccff&amp;src=x%40worldminus.us&amp;color=%236B3304&amp;ctz=America%2FNew_York" style="border-width:0" width="400" height="700" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <div class="weather">
      <span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;">
        <a
          href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:02138.1.99999&bannertypeclick=wu_simplewhite"
          title="Cambridge, Massachusetts Weather Forecast"
          target="_blank"
          >
          <img
            src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_simplewhite&airportcode=KBOS&ForcedCity=Cambridge&ForcedState=MA&zip=02138&language=EN"
            alt="Find more about Weather in Cambridge, MA"
            width="260" />
        </a>
      </span>
    </div>
    <script type="text/javascript">
      var subMenuLinks = document.getElementsByClassName('plus');
      var index;
      for(index = 0; index < subMenuLinks.length; index++) {
        subMenuLinks[index].onclick = function(e) {
          var menu = this.nextElementSibling.style;
          if (menu.visibility == 'visible') {
            menu.visibility = 'hidden';
          } else {
            menu.visibility = 'visible';
          }
        }
        subMenuLinks[index].nextElementSibling
          .style.visibility = 'hidden';
      }
    </script>
  </body>
</html>
