/* Root tags */
body {
    {% if background_img %}
    background: url('file://{{ background_img }}') no-repeat center center fixed;
    background-size: cover;
    {% endif %}
}
h1 {
    color: #fefefe;
    text-shadow:
      -2px -2px 1px #3e3e3e,
      2px -2px 1px #3e3e3e,
      -2px 2px 1px #3e3e3e,
      2px 2px 1px #3e3e3e;
}


/* Classes */
.center {
    text-align: center;
}
.header {
    margin-top: 4rem;
}
