/* Root tags */]
a {
    color: #e21bd0 !important;
}
body {
    {% if background_img %}
    background: url('file://{{ background_img }}') no-repeat center center fixed;
    background-size: cover;
    {% endif %}
}
h1 {
    color: #f0f0f0;
    text-shadow:
      -2px -2px 1px #1e1e1e,
      2px -2px 1px #1e1e1e,
      -2px 2px 1px #1e1e1e,
      2px 2px 1px #1e1e1e;
}


/* Classes */

.blocks li{
    position: relative;
}
.bulletless {
    list-style-type: none;
}
.center {
    text-align: center;
}
.header p {
    color: #f0f0f0;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
.column:not(.header) {
    background: rgba(15, 9, 13, .69);
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}
.header {
    margin-top: 4rem;
}
.plus {
    background: linear-gradient(to bottom right, #f60071, #ffb2fd);
    color: #0666cc;
    display: inline-block;
    font-size: 4rem;
    font-weight: 900;
    line-height: 3rem;
    margin-left: -3rem;
    position: relative;
    top: .5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-button {
    font-size: .8rem;
    padding: 0 1.0rem;
    width: 12rem;
}
.sub-menu {
    column-count: 3;
    column-gap: 2rem;
    left: 24.3rem;
    position: absolute;
    top: -1.4rem;
}
.sub-menu li {
    display: inline-block;
}
.top-button {
    width: 20rem;
}
.weather {
    position: absolute;
    top: 0;
    right: 0;
}
@keyframes wobble {
	16.65% { transform: skew(-12deg); }
	33.3% { transform: skew(10deg); }
	49.95% {transform: skew(-6deg);}
	66.6% { transform: skew(4deg); }
	83.25% { transform: skew(-2deg); }
	100% { transform: skew(0); }
}
.wobble {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.wobble:hover,
.wobble:focus,
.wobble:active {
	animation-duration: 1s;
	animation-name: wobble;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}
